/** Reset **/

/* Wildcard Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/* HTML Reset */
html {
	font-family: var(--font-family-work-sans);
	font-size: var(--font-size);
	line-height: 150%;
    animation: brighten 1s ease-in-out;
}

/* Body Reset - Mobile */
body {
	background: 
		url("/images/background-pattern-mobile.svg") no-repeat top center,
		var(--accent-two-color);
}

/* Body Reset - Desktop */
@media (min-width: 23.4375rem) {
	body {
		background: 
		url("/images/background-pattern-desktop.svg") no-repeat top center,
		var(--accent-two-color);
	}
}

/* Body Reset - Large */
@media (min-width: 90rem) {
	body {
		background: 
		url("/images/background-pattern-desktop.svg") no-repeat top center / contain,
		var(--accent-two-color);
	}
}