/** Accordion Component Styles **/

/* Accordion */
.accordion
{
    border-bottom: solid var(--accent-two-color) 0.0675rem;
    transition: padding-bottom 0.5s ease-in-out;
}

/* Open Accordion */
.accordion[data-state='open']
{
    padding-bottom: 1.25rem;
}

/* Last Accordion In List */
.accordion:last-child
{
    border-bottom: none;
}

/* Accordion Header */
.accordion header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
    gap: 2rem;
}

/* Accordion Heading */
.accordion h2
{
    width: fit-content;
    font-size: 1.125rem;
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
    transition: color 0.25s ease-in-out;
}

/* Accordion Heading - Hover State */
.accordion h2:hover
{
    color: var(--accent-one-color);
}

/* Accordion Button */
.accordion button
{
    background-color: var(--white-color);
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

/* Open Accordion Button */
.accordion[data-state='open'] button
{
    transform: rotate(-180deg);
}

/* Accordion Body */
.accordion p 
{
    color: var(--secondary-color);
    overflow-y: hidden;
    transition: height 0.5s ease-in-out;
}